@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
span {
    color: #ea1538;
}
/* ----------------------------NAVBAR---------------------------- */
.navbar {
    margin: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
}
nav ul li a {
    color: #c3dbfc;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ea1538;
    transition: .3s;
}
.bx-search {
    background-color: #ea1538;
    border-radius: 25px;
    padding: 5px;
    color: #c3dbfc;
    font-size: 30px;
    margin-right: 96vh;
    transition: .5s;
}
.bx-search:hover {
    background-color: transparent;
    border: 2px solid #ea1538;
    transform: scale(1.2);
    cursor: pointer;
}
.button-navbar {
    color: white;
    width: 190px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    transition: .5s;
    box-shadow: 3px 3px 7px #0000004d;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.300);
    background-color: #ea1538;
}
.button-navbar:hover {
    background-color: transparent;
    border: 2px solid #ea1538;
    transform: scale(1.2);
    cursor: pointer;
}
.logo-navbar {
    color: #ffffff;
    margin-right: auto;
}
/* ----------------------------PAG HOME---------------------------- */
.home {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d1b1e;
    background-image: url("imagens/back-home-2.jpg");
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-1 {
    margin: 110px 80px 5px 80px;
    color: white;
    width: 500px;
}
.div-home-1 {
    height: 535px;
}
.h1-home {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
    width: 600px;
}
.h2-home {
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
}
.p-home{
    color: #c3dbfc;
    text-align: justify;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
    margin: 20px 0px 20px;
}
.button {
    color: white;
    width: 170px;
    padding: 15px;
    border-radius: 25px;
    margin-top: 80px;
    font-weight: bold;
    font-size: 15px;
    transition: .5s;
    border: none;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.300);
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.300);
    background-color: #ea1538;
}
.button:hover {
    background-color: transparent;
    border: 2px solid #ea1538;
    transform: scale(1.2);
    cursor: pointer;
}
/* ----------------------------PAG HOME-2---------------------------- */
.home-2 {
    display: block;
    margin: 80px 80px 100px 80px;
    color: white;
    align-items: center;
    text-align: center;
}
.h1-home-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.1vw;
    text-align: center;
}
.p-home-2 {
    margin: auto;
    color: #97989b;
    text-align: center;
    font-size: 16px;
    width: 600px;
}

/* ----------------------------PAG ABOUT-ME---------------------------- */
body.about-me {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d1b1e;
    background-image: url("imagens/back\ about-me-2.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-about-me {
    margin-top: 140px;
    color: #ffffff;
    text-align: center;
}
.h1-about-me {
    font-size: 3.7vw;
    font-family: 'Poppins', sans-serif;
}
.h2-about-me {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.p-about-me {
    display: inline-block;
    width: 600px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 170px;
}
/* ----------------------------PAG SERVICES---------------------------- */
body.services {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d1b1e;
    background-image: url("imagens/service-2.jpg");
    height: 88vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-services {
    margin-top: 140px;
    color: #ffffff;
    text-align: center;
}
.h1-services {
    font-size: 3.7vw;
    font-family: 'Poppins', sans-serif;
}
.h2-services {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.p-services {
    display: inline-block;
    width: 600px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 170px;
}
/* ----------------------------PAG CONTACT---------------------------- */
body.contact {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imagens/contact.jpg");
    background-color: #1d1b1e;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-contact {
    margin-top: 140px;
    color: #ffffff;
    text-align: center;
}
.h1-contact {
    font-size: 3.7vw;
    font-family: 'Poppins', sans-serif;
}
.h2-contact {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.p-contact {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    width: 600px;
    margin-top: 0px;
    margin-bottom: 170px;
}
/* ----------------------------CARDS HOME AND SERVICES ---------------------------- */
.cards {
    margin: 0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    color: #ffffff;
    padding: 20px 35px;
    background: #161518;
    margin: 10px;
    width: 300px;
}
.div-cards-services {
    background-color: #1d1b1e;
}
.bx-paper-plane {
    color: #ea1538;
    font-size: 50px;
}
.bx-news {
    color: #ea1538;
    font-size: 50px;

}
.bx-message-alt-edit {
    color: #ea1538;
    font-size: 50px;
}
.bx-user-circle {
    color: #ea1538;
    font-size: 50px;
}
.bx-bulb{
    color: #ea1538;
    font-size: 50px;
}
.bxs-barcode{
    color: #ea1538;
    font-size: 50px;
}
.h1-card{
    color: #ffbdc6;
    padding: 30px 0px;
}
.p-card {
    color: #ffffff88;
    line-height: 25px;
}
/* ----------------------------CARDS ABOUT-ME---------------------------- */
.bx-minus {
    color: #ea1538;
    font-size: 5em;
}
.h1-card-about-me{
    color: #ffbdc6;
    padding: 10px 0px;
}
.p-card-about-me {
    color: #ffffff88;
    line-height: 25px;
}
/* ----------------------------PAG HOME PORTIFOLIO ---------------------------- */
.div-home-3 {
    display: block;
    margin: 100px 80px 100px 80px;
    color: white;
    align-items: center;
    text-align: center;
}
.h1-home-3 {
    font-size: 3.7vw;
    font-family: 'Poppins', sans-serif;
}
.p-home-3 {
    display: inline-block;
    color: #97989b;
    text-align: center;
    font-size: 18px;
}
.images {
    margin: 0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    padding: 20px;
    border-radius: 250px;
    width: 350px;
}
.btn {
    margin-top: 50px;
}
.bt {
    background-color: #ea1538;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 190px;
    padding: 25px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    transition: .5s;
    border: none;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.300);
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.300);
    background-color: #ea1538;
    text-decoration: none;
}
.bt:hover {
    background-color: transparent;
    border: 2px solid #ea1538;
    transform: scale(1.2);
    cursor: pointer;
}
#img {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
#img > img {
    width: 60px;
    animation: jumping 1s linear infinite;
    border-radius: 0%;
    cursor: pointer;
}

@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}